<h1>User info</h1>
　  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
　  <tabel class="tabel">
　      <tr>
　          <th>name:<%= @user.name %></th>
　          <th>introduction:<%= @user.introduction %></th>
　      </tr>
　  </tabel>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  
     <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
     <% end %>