
        
<div class="container">
<div class="row">
 
　<h3>New book</h3>
　</div>
　
<%= form_with model: @book, local:true do |f| %>

<div class="form-group">
 <label>Title</label>
 </div>
 <div class="form-group">
 <%= f.text_field :title %>
 </div>
 
 <div class="form-group">
 <label>Opinion</label>
 </div>
  <div class="form-group">
 <%= f.text_area :body %>
 </div>
 <div class="form-group">
 <%= f.submit 'Create Book', class: "btn btn-success" %>
<% end %>
 </div>
　 </div>
　  </main>
     <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
     <% end %>